@import '../../styles/variables';

.container {
    display: flex;
    flex-direction: column;
    padding: ($header-height + $spacing-base) $spacing-base $spacing-base;
    margin: 0 auto;
    max-width: 600px;
}

.heading {
    font-weight: 500;
    font-size: 1.25rem;
}

.row {
    margin-bottom: $spacing-base * 2;

    transition:
        opacity $transition-duration ease,
        filter $transition-duration ease;
}

.rowDisabled {
    composes: row;

    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(100%);
}

.rowHeading {
    margin-bottom: $spacing-base;
}

.rowError {
    height: 1.25em;
    margin-top: $spacing-base * -0.75;
    margin-bottom: $spacing-base;

    color: $color-error;
    font-size: 0.9rem;

    transition:
        opacity $transition-duration ease,
        height $transition-duration ease,
        margin $transition-duration ease;
}

.rowErrorHide {
    composes: rowError;

    height: 0;
    margin-bottom: $spacing-base * 0.75;

    opacity: 0;
}
