@import '../../styles/variables';

.container {
    display: flex;
    flex-direction: column;
    padding: $spacing-base;
    margin: 0 auto;
    max-width: 600px;
}

.heading {
    font-weight: 500;
    font-size: 1.25rem;
}

.required {
    color: $color-error;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 (-$spacing-base);

    & > .row {
        margin: 0 $spacing-base ($spacing-base * 2);
    }
}

.row {
    margin-bottom: $spacing-base * 2;

    transition:
        opacity $transition-duration ease,
        filter $transition-duration ease;
}

.rowDisabled {
    composes: row;

    pointer-events: none;
    opacity: 0.5;
    filter: grayscale(100%);
}

.rowHeading {
    margin-bottom: $spacing-base;
}

.rowMessage {
    height: 1.25em;
    margin-top: $spacing-base * -0.75;
    margin-bottom: $spacing-base;

    font-size: 0.9rem;
    color: rgba($color-text, 0.5);
}

.rowError {
    composes: rowMessage;
    color: $color-error;

    transition:
        opacity $transition-duration ease,
        height $transition-duration ease,
        margin $transition-duration ease;
}

.rowErrorHide {
    composes: rowError;

    height: 0;
    margin-bottom: $spacing-base * 0.75;

    opacity: 0;
}
