@import '../../styles/variables';

.header {
    display: flex;
    flex-direction: row;
    height: $header-height;
    padding: 0 10px;

    background: $color-header;

    transition: background $transition-duration-page * 2 ease;
}

.headerOverlay {
    composes: header;

    background: rgba($color-primary, 0.8);
}

.logo {
    margin: 0;

    font-size: 1.2rem;
    font-weight: 500;
}

.link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 10px 10px 10px 0;

    color: white;
    text-decoration: none;
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 2px transparent;

    transition:
        background $transition-duration ease,
        box-shadow $transition-duration ease;

    &:hover {
        background: rgba(white, 0.1);
    }
}

.linkActive {
    box-shadow: inset 0 0 0 2px white;
}
