@import '../../styles/variables';

.header {
    display: flex;
    flex-direction: row;
    height: $header-height;
    padding: 0 10px;

    background-color: $color-header;
}

.logo {
    margin: 0;

    font-size: 1.2rem;
    font-weight: 500;
}

.link {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 10px 10px 10px 0;

    color: white;
    text-decoration: none;
    border-radius: $border-radius;
    box-shadow: inset 0 0 0 2px transparent;

    &:hover {
        background: rgba(white, 0.1);
    }
}

.linkActive {
    box-shadow: inset 0 0 0 2px white;
}
