@import '../../styles/variables';

.input {
    padding: 10px 15px;

    font: inherit;
    border: 2px solid rgba($color-header, 0.15);
    border-radius: $border-radius;

    transition: border-color $transition-duration ease;

    &:hover {
        border-color: rgba($color-header, 0.25);
    }

    &:focus {
        outline: none;
        border-color: $color-primary;
    }
}
