$marker-size: 36px;

.marker {
    width: $marker-size;
    height: $marker-size;

    background: white;
    border-radius: ($marker-size / 2) ($marker-size / 2) 2px ($marker-size / 2);
    box-shadow: 0 0 0 1px rgba(black, 0.05), 1.5px 1.5px 4px rgba(black, 0.25);
    cursor: pointer;

    transform: translate3d(-$marker-size, -$marker-size, 0) rotate(45deg);
    transform-origin: 100% 100%;

    transition: transform 100ms ease;

    &::after {
        content: '';
        display: block;
        width: $marker-size;
        height: $marker-size;

        background: url('./gewis-logo.svg') 50% 80% no-repeat;
        background-size: 40%;

        transform: rotate(-45deg);
    }

    &:hover {
        transform: translate3d(-$marker-size, -$marker-size, 0) rotate(45deg) scale(1.1);
    }
}

