.marker {
    width: 28px;
    height: 28px;

    background: white;
    border-radius: 100% 100% 0 100%;
    box-shadow: 1px 1px 4px rgba(black, 0.2);
    cursor: pointer;

    transform: translate3d(-28px, -28px, 0) rotate(45deg);
    transform-origin: 100% 100%;

    transition: transform 100ms ease;

    &::after {
        content: '';
        display: block;
        width: 28px;
        height: 28px;

        background: url('./gewis-logo.svg') 50% 60% no-repeat;
        background-size: 20px 20px;

        transform: rotate(-45deg);
    }
}

.markerHover {
    composes: marker;

    transform: translate3d(-28px, -28px, 0) rotate(45deg) scale(1.2);
}
