@import './variables';

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');

html {
    font: 500 16px Quicksand, sans-serif;
    color: $color-text;
}

html,
body,
:global(#app) {
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}
