@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
    font: 16px Roboto, sans-serif;
}

html,
body,
:global(#app) {
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}
