@import url('https://fonts.googleapis.com/css?family=Quicksand:400');

html {
    font: 16px Quicksand, sans-serif;
}

html,
body,
:global(#app) {
    height: 100%;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}
