$color-primary: #013370;
$color-header: $color-primary;
$color-header-overlay: rgba(darken(saturate($color-header, 60%), 3%), 0.85);
$color-text: #222;
$color-error: #DB2B39;

$header-height: 60px;
$spacing-base: 15px;
$border-radius: 5px;

$transition-duration: 200ms;
$transition-duration-page: 300ms;
